// USER VARIABLES SECTION

$accent: orange // Accent Color
$fontsize: 16px // Body Font Size
$textcolor: #333 // Text Color
$lineheight: 1.65 // Document Line Height
$userfont: roboto, sans-serif // User Font Family
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif // System Font Family

//Main container
$maxwidth: 1140px

@mixin font($fname, $fstyle, $fweight, $furl)
	@font-face
		font-family: $fname
		font-style: $fstyle
		font-weight: $fweight
		src: url($furl)

@include font('roboto', normal, 400, 'fonts/Roboto-Regular.ttf')
@include font('roboto', normal, 700, 'fonts/Roboto-Italic.ttf')
@include font('roboto', italic, 400, 'fonts/Roboto-Medium.ttf')
@include font('coming', normal, 400, 'fonts/Roboto-MediumItalic.ttf')
@include font('roboto', italic, 700, 'fonts/Roboto-Bold.ttf')

// GENERAL DOCUMENT STYLES

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

body
	font-family: $userfont
	font-size: $fontsize
	line-height: $lineheight
	color: $textcolor
	min-width: 320px
	position: relative
	overflow-x: hidden

main,
header > div,
footer > div
	display: flex
	flex-direction: column
	max-width: $maxwidth
	width: 100%
	margin: 0 auto
